.container-1{
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.flexbox-blackjack-row-1,.flexbox-blackjack-row-2,.flexbox-blackjack-row-3{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}

.flexbox-blackjack-row-1 ,.flexbox-blackjack-row-2{
    background: url('images/OIP.jfif');
    background-size: 50%;
    color: #ffff;
}

.flexbox-blackjack-row-1 div{
     border: 2px solid black;
     flex: 1;
     height: 350px;
     padding: 10px;
     text-align: center;
}

.flexbox-blackjack-row-1 img{
    width: 25%;
    padding: 10px;
}

.flexbox-blackjack-row-2 button{
    border: 1px solid black;
    padding: 10px;
}

.flexbox-blackjack-row-2 div{
    border: 1px solid black;
    padding: 10px;
}

table,th,td{
    border: 1px solid black;
    padding: 7px;
}
